<!--
  File: Footer.html
  FOOTER PAGINA WEB
  Autores: Daniel Mateo
           Aitor Melero
-->

<!DOCTYPE html>
<html lang="es">
<head>
  <!--TITULO-->
	<title>FOOTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Relacion externa a fichero style_footer.css para el estilo -->
  <link rel="stylesheet" type="text/css"  href={{url_for('static', filename='style.css')}}>

</head>

<body>
  <footer>
    <p>UWUFILMS.com</p>
  </footer>

</body>

</html>
