<!--
  File: header.html
  HEADER PAGINA WEB
  Autores: Daniel Mateo
           Aitor Melero
-->

<!DOCTYPE html>
<html lang="es">
<head>
	<!--TITULO-->
	<title>HEADER</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Relacion externa a fichero style.css para el estilo -->
  <link rel="stylesheet" type="text/css"  href={{url_for('static', filename='style.css')}}>

</head>
<body>
	<header>
		<H2>UWUFILMS</H2>
	</header>
</body>
</html>
